.buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.input{
    height: 1.3rem;
    border-radius: 1rem;
    border: 1px black solid;
}
.button{
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

